<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Список всех резюме</title>
</head>
<body>
<div class="header">
    <a class="no-underline-anchor" href="#">
        <div class="arrow-dot">
            <img src="img/left_arrow.svg" alt="">
        </div>
    </a>
    <a class="text-anchor" href="#">
        <span class="resumes-control-title">Управление резюме</span>
    </a>
</div>
<div class="table-wrapper">
    <div class="add-resume">
        <a class="no-underline-anchor" href="#">
            <img src="img/add-person.svg" alt="">
        </a>
        <a class="text-anchor" href="#">
            <p class="add-resume-title">Добавить резюме</p>
        </a>
    </div>
    <div class="resumes-list">
        <table>
            <tr>
                <th class="name-column">Имя</th>
                <th class="info-column">Контакты</th>
                <th class="img-column">Редактировать</th>
                <th class="img-column">Удалить</th>
            </tr>
        </table>
    </div>
    <div class="resumes-list-body">
        <table>
            <tr>
                <td class="name-column">
                    <a class="text-anchor" href="#">
                        Кислин
                        <br>
                        Григорий
                    </a>
                </td>
                <td class="info-column">
                    <a class="text-anchor" href="#">
                        gkislin@yandex.ru
                        <br>
                        +7(921) 855-0482
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
                        <img src="img/edit.svg" alt="">
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
                        <img src="img/remove.svg" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="name-column">
                    <a class="text-anchor" href="#">
                        Гослинг
                        <br>
                        Джеймс
                    </a>
                </td>
                <td class="info-column">
                    <a class="text-anchor" href="#">
                        gosling@james.dev
                        <br>
                        +42 43-45-47
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
                        <img src="img/edit.svg" alt="">
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
                        <img src="img/remove.svg" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="name-column">
                    <a class="text-anchor" href="#">
                        Стародубский-Ромодановский
                        <br>
                        Стародубский-Ромодановский
                    </a>
                </td>
                <td class="info-column">
                    <a class="text-anchor" href="#">
                        someloooooongemail@yandex.ru
                        <br>
                        +7(921) 855-0482
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
                        <img src="img/edit.svg" alt="">
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
                        <img src="img/remove.svg" alt="">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="name-column">
                    <a class="text-anchor" href="#">
                        Стародубский-Ромодановский
                        <br>
                        Стародубский-Ромодановский
                    </a>
                </td>
                <td class="info-column">
                    <a class="text-anchor" href="#">
                        someloooooongemail@yandex.ru
                        <br>
                        +7(921) 855-0482
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
                        <img src="img/edit.svg" alt="">
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
                        <img src="img/remove.svg" alt="">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="footer">
    <a class="text-anchor" href="#">
        <div>Проект: разработка web-приложения «База данных резюме»</div>
    </a>
</div>
</body>
</html>