<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--    <link rel="stylesheet" href="css/theme/light.css">-->
<!--        <link rel="stylesheet" href="css/theme/dark.css">-->
    <link rel="stylesheet" href="css/theme/purple.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/resume-list-styles.css">
    <title>Список всех резюме</title>
</head>
<body>
<div class="header">
    <a class="no-underline-anchor" href="#">
        <div class="arrow-dot">
            <img src="img/left_arrow.svg" alt="">
        </div>
    </a>
    <a class="text-anchor" href="#">
        <span class="resumes-control-title">Управление резюме</span>
    </a>
    <div class="themes">
        <form type="submit">
            <div class="light-rectangle"></div>
            <label for="light-theme">Светлая</label>
            <input type="checkbox" id="light-theme"><br>

            <div class="dark-rectangle"></div>
            <label for="dark-theme">Темная</label>
            <input type="checkbox" id="dark-theme"><br>

            <div class="purple-rectangle"></div>
            <label for="purple-theme">Фиолетовая</label>
            <input type="checkbox" id="purple-theme"><br>

            <button class="submit-theme-button" type="submit">Применить тему</button>
        </form>
    </div>
</div>
<div class="scrollable-panel">
<div class="table-wrapper">
    <div class="add-resume">
        <a class="no-underline-anchor" href="#">
<!--            <img src="img/light/add-person.svg" alt="">-->
<!--            <img src="img/dark/add-person.svg" alt="">-->
            <img src="img/purple/add-person.svg" alt="">
        </a>
        <a class="text-anchor" href="#">
            <p class="add-resume-title">Добавить резюме</p>
        </a>
    </div>
    <div class="resumes-list">
        <table>
            <tr class="t-header">
                <th class="name-column">Имя</th>
                <th class="info-column">Контакты</th>
                <th class="img-column">Редактировать</th>
                <th class="img-column">Удалить</th>
            </tr>
            <tr class="t-body">
                <td class="name-column">
                    <a class="text-table-anchor" href="#">
                        Кислин
                        <br>
                        Григорий
                    </a>
                </td>
                <td class="info-column">
                    <a class="text-table-anchor" href="#">
                        gkislin@yandex.ru
                        <br>
                        +7(921) 855-0482
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
<!--                        <img src="img/light/edit.svg" alt="">-->
<!--                        <img src="img/dark/edit.svg" alt="">-->
                        <img src="img/purple/edit.svg" alt="">
                    </a>
                </td>
                <td class="img-column">
                    <a class="no-underline-anchor" href="#">
<!--                        <img src="img/light/remove.svg" alt="">-->
<!--                        <img src="img/dark/remove.svg" alt="">-->
                        <img src="img/purple/remove.svg" alt="">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
<div class="footer">
    <a class="footer-text-anchor" href="#">
        <div>Проект: разработка web-приложения «База данных резюме»</div>
    </a>
</div>
</body>
</html>