<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/theme/light.css">
    <!--            <link rel="stylesheet" href="css/theme/dark.css">-->
    <!--        <link rel="stylesheet" href="css/theme/purple.css">-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/view-resume-styles.css">
    <title>Просмотр резюме</title>
</head>
<body>
<div class="header">
    <a class="no-underline-anchor" href="#">
        <div class="arrow-dot">
            <img src="img/left_arrow.svg" alt="">
        </div>
    </a>
    <a class="text-anchor" href="#">
        <span class="resumes-control-title">Управление резюме</span>
    </a>
</div>
<div class="scrollable-panel">
    <div class="form-wrapper">
        <div class="full-name">Григорий Кислин</div>
        <div class="contacts">
            <div>Тел.: +7(921) 855-0482</div>
            <div>Skype: <a class="contact-link" href="#">grigory.kislin</a></div>
            <div>Почта: <a class="contact-link" href="#">gkislin@yandex.ru</a></div>
            <div><a class="contact-link" href="#">Профиль LinkedIn</a></div>
            <div><a class="contact-link" href="#">Профиль GitHub</a></div>
            <div><a class="contact-link" href="#">Профиль Stackoverflow</a></div>
            <div><a class="contact-link" href="#">Домашняя страница</a></div>
        </div>
        <div class="spacer"></div>

        <div class="section">Позиция</div>
        <div class="position">Ведущий стажировок и корпоративного обучения по Java Web и Enterprise технологиям</div>

        <div class="section">Личные качества</div>
        <div class="qualities">Аналитический склад ума, сильная логика, креативность, инициативность. Пурист кода и
            архитектуры.
        </div>

        <div class="section">Достижения</div>
        <ul class="list">
            <li>С 2013 года: разработка проектов "Разработка Web приложения","Java Enterprise", "Многомодульный maven.
                Многопоточность. XML (JAXB/StAX). Веб сервисы (JAX-RS/SOAP). Удаленное взаимодействие (JMS/AKKA)".
                Организация онлайн стажировок и ведение проектов. Более 1000 выпускников.
            </li>
            <li>Реализация двухфакторной аутентификации для онлайн платформы управления проектами Wrike. Интеграция с
                Twilio, DuoSecurity, Google Authenticator, Jira, Zendesk.
            </li>
            <li>Налаживание процесса разработки и непрерывной интеграции ERP системы River BPM. Интеграция с 1С, Bonita
                BPM, CMIS, LDAP. Разработка приложения управления окружением на стеке: Scala/Play/Anorm/JQuery.
                Разработка SSO аутентификации и авторизации различных ERP модулей, интеграция CIFS/SMB java сервера.
            </li>
            <li>Реализация c нуля Rich Internet Application приложения на стеке технологий JPA, Spring, Spring-MVC, GWT,
                ExtGWT (GXT), Commet, HTML5, Highstock для алгоритмического трейдинга.
            </li>
            <li>Создание JavaEE фреймворка для отказоустойчивого взаимодействия слабо-связанных сервисов (SOA-base
                архитектура, JAX-WS, JMS, AS Glassfish). Сбор статистики сервисов и информации о состоянии через систему
                мониторинга Nagios. Реализация онлайн клиента для администрирования и мониторинга системы по JMX
                (Jython/ Django).
            </li>
            <li>Реализация протоколов по приему платежей всех основных платежных системы России (Cyberplat, Eport,
                Chronopay, Сбербанк), Белоруcсии(Erip, Osmp) и Никарагуа.
            </li>
        </ul>

        <div class="section">Квалификация</div>
        <ul class="list">
            <li>JEE AS: GlassFish (v2.1, v3), OC4J, JBoss, Tomcat, Jetty, WebLogic, WSO2</li>
            <li>Version control: Subversion, Git, Mercury, ClearCase, Perforce</li>
            <li>DB: PostgreSQL(наследование, pgplsql, PL/Python), Redis (Jedis), H2, Oracle,</li>
            <li>MySQL, SQLite, MS SQL, HSQLDB</li>
            <li>Languages: Java, Scala, Python/Jython/PL-Python, JavaScript, Groovy,</li>
            <li>XML/XSD/XSLT, SQL, C/C++, Unix shell scripts,</li>
            <li>Java Frameworks: Java 8 (Time API, Streams), Guava, Java Executor, MyBatis, Spring (MVC, Security, Data,
                Clouds, Boot), JPA (Hibernate, EclipseLink), Guice, GWT(SmartGWT, ExtGWT/GXT), Vaadin, Jasperreports,
                Apache Commons, Eclipse SWT, JUnit, Selenium (htmlelements).
            </li>
            <li>Python: Django.</li>
            <li>JavaScript: jQuery, ExtJS, Bootstrap.js, underscore.js</li>
            <li>Scala: SBT, Play2, Specs2, Anorm, Spray, Akka</li>
            <li>Технологии: Servlet, JSP/JSTL, JAX-WS, REST, EJB, RMI, JMS, JavaMail, JAXB, StAX, SAX, DOM, XSLT, MDB,
                JMX, JDBC, JPA, JNDI, JAAS, SOAP, AJAX, Commet, HTML5, ESB, CMIS, BPMN2, LDAP, OAuth1, OAuth2, JWT.
            </li>
            <li>Инструменты: Maven + plugin development, Gradle, настройка Ngnix,</li>
            <li>администрирование Hudson/Jenkins, Ant + custom task, SoapUI, JPublisher, Flyway, Nagios, iReport,
                OpenCmis, Bonita, pgBouncer.
            </li>
            <li>Отличное знание и опыт применения концепций ООП, SOA, шаблонов проектрирования, архитектурных шаблонов,
                UML, функционального программирования
            </li>
            <li>Родной русский, английский "upper intermediate"</li>
        </ul>

        <div class="section">Опыт работы</div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Java Online Projects</a></div>
            <div class="period-position">
                <div class="period">10/2013-Сейчас</div>
                <div class="position">Автор проекта</div>
            </div>
            <div class="description">Создание, организация и проведение Java онлайн проектов и стажировок.</div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Wrike</a></div>
            <div class="period-position">
                <div class="period">10/2014 - 01/2016</div>
                <div class="position">Старший разработчик (backend)</div>
            </div>
            <div class="description">Проектирование и разработка онлайн платформы управления проектами Wrike (Java 8
                API,
                Maven, Spring, MyBatis, Guava, Vaadin, PostgreSQL, Redis). Двухфакторная аутентификация, авторизация по
                OAuth1, OAuth2, JWT SSO.
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name">RIT Center</div>
            <div class="period-position">
                <div class="period">04/2012 - 10/2014</div>
                <div class="position">Java архитектор</div>
            </div>
            <div class="description">Организация процесса разработки системы ERP для разных окружений: релизная
                политика,
                версионирование, ведение CI (Jenkins), миграция базы (кастомизация Flyway), конфигурирование системы
                (pgBoucer, Nginx), AAA via SSO. Архитектура БД и серверной части системы. Разработка интергационных
                сервисов: CMIS, BPMN2, 1C (WebServices), сервисов общего назначения (почта, экспорт в pdf, doc, html).
                Интеграция Alfresco JLAN для online редактирование из браузера документов MS Office. Maven + plugin
                development, Ant, Apache Commons, Spring security, Spring MVC, Tomcat,WSO2, xcmis, OpenCmis, Bonita,
                Python
                scripting, Unix shell remote scripting via ssh tunnels, PL/Python
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Luxoft (Deutsche Bank)</a></div>
            <div class="period-position">
                <div class="period">12/2010 - 04/2012</div>
                <div class="position">Ведущий программист</div>
            </div>
            <div class="description">Участие в проекте Deutsche Bank CRM (WebLogic, Hibernate, Spring, Spring MVC,
                SmartGWT,
                GWT, Jasper, Oracle). Реализация клиентской и серверной части CRM. Реализация RIA-приложения для
                администрирования, мониторинга и анализа результатов в области алгоритмического трейдинга. JPA, Spring,
                Spring-MVC, GWT, ExtGWT (GXT), Highstock, Commet, HTML5.
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Yota</a></div>
            <div class="period-position">
                <div class="period">06/2008 - 12/2010</div>
                <div class="position">Ведущий программист</div>
            </div>
            <div class="description">Дизайн и имплементация Java EE фреймворка для отдела "Платежные Системы" (GlassFish
                v2.1, v3, OC4J, EJB3, JAX-WS RI 2.1, Servlet 2.4, JSP, JMX, JMS, Maven2). Реализация администрирования,
                статистики и мониторинга фреймворка. Разработка online JMX клиента (Python/ Jython, Django, ExtJS)
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Enkata</a></div>
            <div class="period-position">
                <div class="period">03/2007 - 06/2008</div>
                <div class="position">Разработчик ПО</div>
            </div>
            <div class="description">Реализация клиентской (Eclipse RCP) и серверной (JBoss 4.2, Hibernate 3.0, Tomcat,
                JMS)
                частей кластерного J2EE приложения (OLAP, Data mining).
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Siemens AG</a></div>
            <div class="period-position">
                <div class="period">01/2005 - 02/2007</div>
                <div class="position">Разработчик ПО</div>
            </div>
            <div class="description">Разработка информационной модели, проектирование интерфейсов, реализация и отладка
                ПО
                на мобильной IN платформе Siemens @vantage (Java, Unix).
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Alcatel</a></div>
            <div class="period-position">
                <div class="period">09/1997 - 01/2005</div>
                <div class="position">Инженер по аппаратному и программному тестированию</div>
            </div>
            <div class="description">Тестирование, отладка, внедрение ПО цифровой телефонной станции Alcatel 1000 S12
                (CHILL, ASM).
            </div>
        </div>

        <div class="section">Образование</div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Coursera</a></div>
            <div class="period-position">
                <div class="period">03/2013 - 05/2013</div>
                <div class="position">"Functional Programming Principles in Scala" by Martin Odersky</div>
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Luxoft</a></div>
            <div class="period-position">
                <div class="period">03/2011 - 04/2011</div>
                <div class="position">Курс "Объектно-ориентированный анализ ИС. Концептуальное моделирование на UML."
                </div>
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Siemens AG</a></div>
            <div class="period-position">
                <div class="period">01/2005 - 04/2005</div>
                <div class="position">3 месяца обучения мобильным IN сетям (Берлин)</div>
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Alcatel</a></div>
            <div class="period-position">
                <div class="period">09/1997 - 03/1998</div>
                <div class="position">6 месяцев обучения цифровым телефонным сетям (Москва)</div>
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Санкт-Петербургский национальный исследовательский
                университет информационных технологий, механики и оптики</a></div>
            <div class="period-position">
                <div class="period">09/1993 - 07/1996</div>
                <div class="position">Аспирантура (программист С, С++)</div>
            </div>
            <div class="period-position">
                <div class="period">09/1987 - 07/1993</div>
                <div class="position">Инженер (программист Fortran, C)</div>
            </div>
        </div>

        <div class="section-wrapper">
            <div class="job-name"><a class="contact-link" href="#">Заочная физико-техническая школа при МФТИ</a></div>
            <div class="period-position">
                <div class="period">09/1984 - 06/1987</div>
                <div class="position">Закончил с отличием</div>
            </div>
        </div>
        <div class="footer-spacer"></div>
    </div>
</div>
<div class="footer">
    <a class="footer-text-anchor" href="#">
        <div>Проект: разработка web-приложения «База данных резюме»</div>
    </a>
</div>
</body>
</html>